@import './comment/Comments.scss';

.writeReply {
  margin-top: 10px;
  border-top: 0.5px solid #c4c4c4;
  height: 56px;
  @include sort(flex, space-between, center);
  .replyText {
    flex: 9;
    border: none;
    padding-left: 16px;
    &:focus {
      outline: none;
    }
  }
  .deActiveButton {
    border: none;
    background-color: white;
    flex: 1;
    margin: 0 auto;
    color: #1e9af7;
    font-weight: 500;
    opacity: 0.2;
    pointer-events: none;
  }
  .activeButton {
    border: none;
    background-color: white;
    flex: 1;
    margin: 0 auto;
    color: #1e9af7;
    font-weight: 500;
    opacity: 1;
    cursor: pointer;
  }
}
