body {
  margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.MainAh {
  .mainContainer {
    width: 2000px;
    max-width: 100vw;
    height: 2000px;
    display: flex;
    justify-content: center;
    position: relative;
    background-color: #fafafa;
  }
  .feedsContainer {
    width: 45%;
    margin-top: 50px;
    position: absolute;
    left: 15%;
    border: 2px solid lightgrey;
    background-color: white;
    p {
      margin: 0;
    }
  }
  .feedsTop {
    margin: 15px 0;
  }
  article {
    width: 100%;
    .profileImage {
      width: 30px;
      height: 30px;
      vertical-align: middle;
      margin-left: 15px;
      margin-right: 10px;
    }
    img {
      width: 100%;
    }
  }
  .feedsIcon {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    ul {
      display: flex;
      margin: 0;
      padding-left: 10px;
    }
    li {
      list-style: none;
      margin-right: 10px;
    }
    img {
      width: 30px;
      height: 30px;
      margin-right: 10px;
    }
  }
  .feedsContent {
    padding: 10px;
    border-bottom: 2px solid lightgrey;
    img {
      width: 15px;
      height: 15px;
      margin-right: 5px;
    }
    div {
      margin-bottom: 10px;
    }
    .feedsId {
      font-weight: bold;
    }
    .feedsText {
      font-weight: normal;
      margin-left: 10px;
    }
  }

  .newText {
    margin: 15px 0px 15px 10px;
    input {
      width: 90%;
      border: none;
      color: black;
    }
    button {
      border: none;
      background-color: white;
      color: skyblue;
    }
  }

  .mainRightContainer {
    width: 20%;
    position: fixed;
    left: 63%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    img {
      width: 40px;
      height: 40px;
    }
    .mainRightIdInfo {
      color: grey;
      margin: 0;
      margin-left: 50px;
      position: absolute;
      top: 20px;
      left: 5px;
    }
  }
  .mainRightTop {
    margin-bottom: 10px;
    img {
      vertical-align: middle;
      margin-right: 10px;
      width: 45px;
      height: 45px;
    }
  }

  .storyContainer {
    border: 2px solid lightgrey;
    margin-top: 10px;
    background-color: white;
  }
  // story, follow 공통 사용
  .storyMenu {
    display: flex;
    justify-content: space-between;
    margin: 15px;
  }
  .storyContent {
    margin: 15px;
    position: relative;
    img {
      vertical-align: middle;
      margin-right: 15px;
      width: 35px;
      height: 35px;
    }
  }
  // 특정 컨테이너 안에 들어가있지 않고 공통으로 쓰는중
  .siteId {
    font-weight: bold;
    position: absolute;
    top: 2px;
  }
  .siteIdInfo {
    color: grey;
    margin: 0;
    margin-left: 45px;
    position: absolute;
    top: 20px;
    left: 5px;
  }
  .storyId {
    color: grey;
    margin: 0;
  }
  .storyIdinfo {
    font-weight: bold;
  }

  .follow {
    margin-top: 15px;
    border: 2px solid lightgrey;
    background-color: white;
    .followBtn {
      float: right;
      position: absolute;
      top: 10px;
      right: 0;
      background-color: white;
      border: none;
      padding: 0;
      color: blue;
      font-size: 15px;
    }
  }

  #winid {
    font-weight: bold;
    margin-bottom: 0;
    span {
      font-weight: normal;
      margin-left: 5px;
    }
  }
}
