@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainSeul {
  width: 100%;
  main {
    padding-top: 45px;
    background-color: #fafafa;
    section {
      max-width: 935px;
      height: auto;
      margin: 0 auto;
      .main-left {
        max-width: 614px;
        height: auto;
        padding-bottom: 100px;
        article {
          width: 100%;
          height: auto;
          background-color: #fff;
          border: 1px solid #dbdbdb;
          .feed-profile {
            @include flex-between;
            height: 60px;
            padding: 0 20px;
            border-bottom: 1px solid #dbdbdb;
            .feed-profile-thumnail {
              width: 32px;
              height: 32px;
              margin-right: 15px;
              border: 1px solid #aaa;
              border-radius: 50%;
              overflow: hidden;
              cursor: pointer;
              img {
                width: 100%;
              }
            }

            .feed-profile-id {
              font-size: 14px;
              cursor: pointer;
            }

            .feed-profile-more {
              width: 25px;
              height: 25px;
              margin-left: auto;
              cursor: pointer;
              img {
                width: 100%;
              }
            }
          }

          .feed-image {
            img {
              width: 100%;
            }
          }

          .comment {
            height: auto;
            min-height: 100px;
            .response-icons {
              height: 40px;
              padding: 0 20px;
              ul {
                @include flex-between;
                height: 100%;
                li {
                  width: 25px;
                  height: 25px;
                  margin-right: 15px;
                  cursor: pointer;

                  &:last-child {
                    margin-left: auto;
                    margin-right: 0;
                  }

                  img {
                    width: 100%;
                  }
                }
              }
            }

            .comment-count {
              height: 30px;
              padding-left: 20px;
              font-size: 14px;
              line-height: 30px;
              span {
                font-weight: bold;
              }
            }

            .comment-list-box {
              padding-left: 20px;
              padding-bottom: 20px;
              .comment-list {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding-top: 6px;
                font-size: 13px;
                .comment-id-box {
                  margin-right: 20px;
                  font-size: 13px;
                  font-weight: bold;
                  color: #333;
                }
              }
            }

            .comment-write {
              @include flex-between;
              height: 56px;
              padding: 0 20px;
              border-top: 1px solid #dbdbdb;
              div {
                flex-grow: 1;
                height: 100%;
                input {
                  width: 100%;
                  height: 100%;
                  border: none;

                  &:focus {
                    outline: none;
                  }
                }
              }

              button {
                font-size: 14px;
                font-weight: bold;
                color: #0095f6;
                background-color: #fff;
                border: none;
                cursor: pointer;
              }
            }
          }
        }
      }

      .main-right {
        position: fixed;
        top: 100px;
        left: 50%;
        width: 295px;
        height: auto;
        min-height: 100px;
        margin-left: 170px;
        .my-profile {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          height: 56px;
          .my-profile-thumnail {
            width: 56px;
            height: 56px;
            margin-right: 20px;
            border: 1px solid #dbdbdb;
            border-radius: 50%;
            overflow: hidden;
            img {
              width: 100%;
            }
          }

          .my-profile-id {
            div {
              &:first-of-type {
                font-size: 14px;
                font-weight: bold;
                color: #262626;
              }

              &:last-of-type {
                font-size: 13px;
                color: #8c8c8c;
              }
            }
          }
        }

        .recommend {
          height: auto;
          min-height: 100px;
          .recommend-title {
            @include flex-between;
            height: 20px;
            margin: 20px 0 10px 0;
            p {
              font-size: 14px;
              font-weight: bold;
              color: #8c8c8c;
            }

            div {
              font-size: 13px;
              font-weight: bold;
              cursor: pointer;
            }
          }

          .recommend-list-box {
            height: auto;
            min-height: 100px;
            .recommend-list {
              @include flex-between;
              height: 48px;
              .recommend-thumnail {
                width: 32px;
                height: 32px;
                margin-right: 20px;
                border: 1px solid #dbdbdb;
                border-radius: 50%;
                overflow: hidden;
                img {
                  width: 100%;
                }
              }
            }

            .recommend-id {
              div {
                &:first-of-type {
                  font-size: 14px;
                  font-weight: bold;
                  color: #262626;
                  cursor: pointer;
                }

                &:last-of-type {
                  font-size: 13px;
                  color: #8c8c8c;
                  cursor: pointer;
                }
              }
            }

            .recommend-follow {
              margin-left: auto;
              font-size: 13px;
              font-weight: bold;
              color: #0095f6;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
