.story {
  @include border(1px solid #c4c4c4, 5px);
  width: 328px;
  margin-top: 20px;
  padding: 10px;
  .storyTitle {
    @include sort(flex, space-between, none);
    margin-bottom: 15px;
    span {
      &:first-child {
        @include font(15px, inherit, #c4c4c4, inherit);
      }
      &:last-child {
        @include font(15px, 500, inherit, pointer);
      }
    }
  }
  .storyList {
    padding: 5px;
    @include sort(flex, none, center);
    img {
      @include imgSize(40px, 40px, 0, pointer);
      @include border(1px solid #d22d84, 30px);
      padding: 2px;
    }
    .friendInform {
      @include verticalAlign(flex, column);
      margin-left: 16px;
      span {
        &:first-child {
          @include font(14px, 700, inherit, pointer);
        }
        &:last-child {
          @include font(14px, 400, #c4c4c4, inherit);
          margin-top: 5px;
        }
      }
    }
  }
}
